%footer
  %p(role='contentinfo')
    %small
      %span.readable
        Ruby Accessories 
      %br
        Jesse Jennings | Jen Diamond
      %hr
  %p(role='contentinfo')
    %small
      %span.readable<
      %strong Resources
      %br
      %a{:href=>"https://github.com/rubyaccessories/blog"} Github
