%footer
  %p(role='contentinfo')
    %small
      %span.readable<
        RGSoC Rails Girls Summer of Code 2104 - The Standard Librarians Team
      %br
      Jen Diamond | Stephanie Betancourt | Josh Loper
      %br
      %span.readable<
        legibilis
      is licenced under the BSD licence.
    
      Copyright &#169; 2011, James Abbott

