%footer
  %p(role='contentinfo')
    %small
      %span.readable<
        RGSoC Rails Girls Summer of Code 2104 - The Standard Librarians Team
      %br
      Jen Diamond | Stephanie Betancourt | Josh Loper
      %hr
  %p(role='contentinfo')
    %small
      %span.readable<
      %strong Resources
      %br
      %a{:href=>"https://github.com/TheStandardLibrarians/"} Github&nbsp;|&nbsp;
      %a{:href=>"https://twitter.com/StdLibrarians"} Twitter&nbsp;&nbsp;