%footer
  %p(role='contentinfo')
    %small
      %span.readable<
        The Standard Librarians Team
      %br
      Jen Diamond | Omowale Oniyide | Josh Loper
      %hr
  %p(role='contentinfo')
    %small
      %span.readable<
      %strong Resources
      %br
      %a{:href=>"https://github.com/TheStandardLibrarians/"} Github&nbsp;|&nbsp;
      %a{:href=>"https://twitter.com/StdLibrarians"} Twitter&nbsp;&nbsp;
