%footer
  %p(role='contentinfo')
    %small
      %span.readable<
        RGSoC Rails Girls Summer of Code 2104 - The Standard Librarians Team
      %br
      Jen Diamond | Stephanie Betancourt | Josh Loper
      %hr
  %p(role='contentinfo')
    %small
      %span.readable<
      %strong Nesta Resources
      %br
      %a{:href=>"http://nestacms.com/"} Nesta&nbsp;|&nbsp;
      %a{:href=>"http://thestandardlibrarians.herokuapp.com/anatomy-of-an-article"} Anatomy of an Article&nbsp;|&nbsp;
      %a{:href=>"http://thestandardlibrarians.herokuapp.com/publishing-a-feed"} Publishing a Feed&nbsp;|&nbsp;
      %a{:href=>"http://thestandardlibrarians.herokuapp.com/adding-attachments"} Adding Attachments&nbsp;|&nbsp;
      %a{:href=>"http://nestacms.com/docs/creating-content/menus"} Menus
      %hr
  %p(role='contentinfo')
    %small
      %span.readable<
        legibilis
      is licenced under the BSD licence.
    
      Copyright &#169; 2011, James Abbott