%h2 Joshua Loper is a collaborator on the Standard Librarian project.

<a class="twitter-timeline" href="https://twitter.com/StdLibrarians" data-widget-id="480843409880395776">Tweets by @StdLibrarians</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>