.twelveCol
  %ul#media
    %li
      %a(href="/articles.xml")
        %img(src="/images/feed.png" alt="Atom feed")
    %li
      %a(href="https://github.com/thestandardlibrarians")
        %img(src="/images/octocatsm.png" alt="The Standard Librarians on GitHub")
