.twelveCol
  %ul#media
    %li
      %a(href="/articles.xml")
        %img(src="/images/feed.png" alt="Atom feed")
    %li
      %a(href="https://github.com/rubyaccessories")
        %img(src="/images/octocatsm.png" alt="Ruby Accessories on GitHub")
