#sidebar.threeCol
  .rowContainer.group.twelveCol
  %br
    = haml :gallery, :layout => false
    %p.about
      This site documents the progress of the 
    
      Rails Girls Summer of Code 2014 team 
      
      The Standard Librarians. They are 
    
      building an in&nbsp;&#45;&nbsp;browser REPL for the 
     
      Ruby Standard Library.
    = haml :links, :layout => false
    %p.team
      %strong THE TEAM
      %br
      %strong Core Team Members: 
      Jen Diamond and Stephanie Betancourt
      %br
      %strong Collaborators: 
      Josh Loper and Omowale Oniyide
      %br
      %strong Associates: 
      Jalil Mohammed and Robert Wilkinson
      %br
      %strong Coaching company: 
      %a{:href=>"http://www.pivotallabs.com"} Pivotal Labs
      %br
      %strong Coaches: 
      Mike McCormick, John Ryan, Ryan Moran, Zachery Girshman, Dave Bellotti
      %br
      %strong Mentor: 
      Pat Maddox
      %br
      %strong Supervisor: 
      Carsten Zimmermann
      
    = haml :categories, :layout => false
  :javascript
    (function() {
      var cx = '012446961340910551891:brxmtld2tta';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ?   'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();

  %gcse:search
