#sidebar.threeCol
  .rowContainer.group.twelveCol
  %br
    = haml :gallery, :layout => false
    %p.about
      This site documents the progress of the 
    
      Rails Girls Summer of Code 2014 team 
      
      The Standard Librarians. They are 
    
      building an in&nbsp;&#45;&nbsp;browser REPL for the 
     
      Ruby Standard Library.
    = haml :links, :layout => false
    %p.team
      %strong THE TEAM
      %br
      %strong Current Core Members: 
      %a{:href=>"/team-bios/jen-diamond"} Jen Diamond 
      %br
      %a{:href=>"/team-bios/omowale-oniyide"}Omowale Oniyide
      %br
      %a{:href=>"/team-bios/josh-loper"} Josh Loper
      %br
      %br
      %strong Collaborators: 
      %br      
      %a{:href=>"/team-bios/stephanie-betancourt"} Stephanie Betancourt
      %br
      Jalil Mohammed
      %br
      Robert Wilkinson
      %br
      %br
      %strong Contributors:
      %br
      Ashok Modi
      %br
      Kobi Levy
      %br
      Eric Mathison
      %br
      %br
      %strong Coaching company: 
      %a{:href=>"http://www.pivotallabs.com"} Pivotal Labs
      %br
      %br
      %strong Coaches: 
      Mike McCormick, John Ryan, Ryan Moran, Eric Hu
      %br
      %strong Mentor: 
      Pat Maddox
      %br
      %strong Supervisor: 
      Carsten Zimmermann
      
    = haml :categories, :layout => false
  :javascript
    (function() {
      var cx = '012446961340910551891:brxmtld2tta';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = (document.location.protocol == 'https:' ?   'https:' : 'http:') +
          '//www.google.com/cse/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();

  %gcse:search
