#sidebar.threeCol
  .rowContainer.group.twelveCol
  %br
    = haml :gallery, :layout => false
    %p.about
      This site documents the progress of the 
    
      Rails Girls Summer of Code team 
      
      The Standard Librarians. They are 
    
      building in-browser REPL for the 
     
      Ruby Standard Library.
    = haml :links, :layout => false
    %p.team
      %strong THE TEAM
      %br
      %strong Core Team Members: 
      %br
      Jen Diamond and Stephanie Betancourt
      %br 
      %strong Collaborator: 
      Josh Loper
      %br
      %strong Coaching company: 
      %a{:href=>"http://www.pivotallabs.com"} Pivotal Labs
      %br
      %strong Mentors: 
      Kurtis Rainbolt-Greene and Konstantin Haase
      %br
      %strong Supervisor: 
      Carsten Zimmermann
      
    = haml :categories, :layout => false


