%h [Stephanie Betancourt](http://www.stephaniebetancourt.com) is on the core team of the Standard Librarians.


%a.twitter-timeline{"data-widget-id" => "YOUR-WIDGET-ID-HERE", :href => "https://twitter.com/twitterapi"} Tweets by @stephanieblack
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");