<div class="panel-heading"><h3 style="margin-top:10px !important;">Administrator Login: Please enter a password</h3>
</div>

<div style="padding:20px;" align="center">
<form action="/admin" method="post"><br>
<br>
Please enter passphrase:<br>
<input type="password" name="admin[password]"><br>
<input type="submit" value="Submit"><br>
<br>
</div>
