<h1>Reference</h1>
<h2>Sinatra</h2>
<h4><a href="http://sinatra-book.gittr.com/#real_world_applications_in_sinatra">The Sinatra Book</a></h4>
<h4><a href="http://www.danneu.com/posts/15-a-simple-blog-with-sinatra-and-active-record-some-useful-tools/">The Tutorial for this blog</a></h4>
<h4><a href="http://screencasts.org/episodes/configuring-activerecord-in-sinatra">Configuring ActiveRecord in Sinatra - Screencast</a></h4>
<h4><a href="http://www.millwoodonline.co.uk/blog/sinatra-activerecord-postgres-application">Sinatra: Building an ActiveRecord and Postgres application</a></h4>

